/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

/* .test {
    border: "1px solid red";
} */

.hamburger {
    padding: 2rem 1rem 0 1rem;
    /* display: inline-block; */
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.isActive:hover {
    opacity: 0.7;
}

.hamburger.isActive .hamburgerInner, .hamburger.isActive .hamburgerInner::before, .hamburger.isActive .hamburgerInner::after {
    background-color: #FFFFFF;
}

.hamburgerBox {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburgerInner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburgerInner, .hamburgerInner::before, .hamburgerInner::after {
    width: 40px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburgerInner::before, .hamburgerInner::after {
    content: "";
    display: block;
}

.hamburgerInner::before {
    top: -10px;
}

.hamburgerInner::after {
    bottom: -10px;
}

/*
   * 3DX
   */

.hamburger--3dx .hamburgerBox {
    perspective: 80px;
}

.hamburger--3dx .hamburgerInner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburgerInner::before, .hamburger--3dx .hamburgerInner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.isActive .hamburgerInner {
    background-color: transparent !important;
    transform: rotateY(180deg);
}

.hamburger--3dx.isActive .hamburgerInner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.isActive .hamburgerInner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */

.hamburger--3dx-r .hamburgerBox {
    perspective: 80px;
}

.hamburger--3dx-r .hamburgerInner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburgerInner::before, .hamburger--3dx-r .hamburgerInner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.isActive .hamburgerInner {
    background-color: transparent !important;
    transform: rotateY(-180deg);
}

.hamburger--3dx-r.isActive .hamburgerInner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.isActive .hamburgerInner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY
   */

.hamburger--3dy .hamburgerBox {
    perspective: 80px;
}

.hamburger--3dy .hamburgerInner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburgerInner::before, .hamburger--3dy .hamburgerInner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.isActive .hamburgerInner {
    background-color: transparent !important;
    transform: rotateX(-180deg);
}

.hamburger--3dy.isActive .hamburgerInner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.isActive .hamburgerInner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY Reverse
   */

.hamburger--3dy-r .hamburgerBox {
    perspective: 80px;
}

.hamburger--3dy-r .hamburgerInner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburgerInner::before, .hamburger--3dy-r .hamburgerInner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.isActive .hamburgerInner {
    background-color: transparent !important;
    transform: rotateX(180deg);
}

.hamburger--3dy-r.isActive .hamburgerInner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.isActive .hamburgerInner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY
   */

.hamburger--3dxy .hamburgerBox {
    perspective: 80px;
}

.hamburger--3dxy .hamburgerInner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburgerInner::before, .hamburger--3dxy .hamburgerInner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.isActive .hamburgerInner {
    background-color: transparent !important;
    transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.isActive .hamburgerInner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.isActive .hamburgerInner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY Reverse
   */

.hamburger--3dxy-r .hamburgerBox {
    perspective: 80px;
}

.hamburger--3dxy-r .hamburgerInner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r .hamburgerInner::before, .hamburger--3dxy-r .hamburgerInner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.isActive .hamburgerInner {
    background-color: transparent !important;
    transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}

.hamburger--3dxy-r.isActive .hamburgerInner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy-r.isActive .hamburgerInner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * Arrow
   */

.hamburger--arrow.isActive .hamburgerInner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.isActive .hamburgerInner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Arrow Right
   */

.hamburger--arrow-r.isActive .hamburgerInner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.isActive .hamburgerInner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Alt
   */

.hamburger--arrowalt .hamburgerInner::before {
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburgerInner::after {
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.isActive .hamburgerInner::before {
    top: 0;
    transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.isActive .hamburgerInner::after {
    bottom: 0;
    transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Alt Right
   */

.hamburger--arrowalt-r .hamburgerInner::before {
    transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburgerInner::after {
    transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.isActive .hamburgerInner::before {
    top: 0;
    transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
    transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.isActive .hamburgerInner::after {
    bottom: 0;
    transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Turn
   */

.hamburger--arrowturn.isActive .hamburgerInner {
    transform: rotate(-180deg);
}

.hamburger--arrowturn.isActive .hamburgerInner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.isActive .hamburgerInner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Turn Right
   */

.hamburger--arrowturn-r.isActive .hamburgerInner {
    transform: rotate(-180deg);
}

.hamburger--arrowturn-r.isActive .hamburgerInner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrowturn-r.isActive .hamburgerInner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Boring
   */

.hamburger--boring .hamburgerInner, .hamburger--boring .hamburgerInner::before, .hamburger--boring .hamburgerInner::after {
    transition-property: none;
}

.hamburger--boring.isActive .hamburgerInner {
    transform: rotate(45deg);
}

.hamburger--boring.isActive .hamburgerInner::before {
    top: 0;
    opacity: 0;
}

.hamburger--boring.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(-90deg);
}

/*
   * Collapse
   */

.hamburgerCollapse .hamburgerInner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerCollapse .hamburgerInner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburgerCollapse .hamburgerInner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerCollapse.isActive .hamburgerInner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburgerCollapse.isActive .hamburgerInner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburgerCollapse.isActive .hamburgerInner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Collapse Reverse
   */

.hamburgerCollapse-r .hamburgerInner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerCollapse-r .hamburgerInner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburgerCollapse-r .hamburgerInner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerCollapse-r.isActive .hamburgerInner {
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburgerCollapse-r.isActive .hamburgerInner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburgerCollapse-r.isActive .hamburgerInner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Elastic
   */

.hamburger--elastic .hamburgerInner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburgerInner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburgerInner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.isActive .hamburgerInner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.isActive .hamburgerInner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.isActive .hamburgerInner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}

/*
   * Elastic Reverse
   */

.hamburger--elastic-r .hamburgerInner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburgerInner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburgerInner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.isActive .hamburgerInner {
    transform: translate3d(0, 10px, 0) rotate(-135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic-r.isActive .hamburgerInner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic-r.isActive .hamburgerInner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s;
}

/*
   * Emphatic
   */

.hamburger--emphatic {
    overflow: hidden;
}

.hamburger--emphatic .hamburgerInner {
    transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburgerInner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburgerInner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.isActive .hamburgerInner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}

.hamburger--emphatic.isActive .hamburgerInner::before {
    left: -80px;
    top: -80px;
    transform: translate3d(80px, 80px, 0) rotate(45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.isActive .hamburgerInner::after {
    right: -80px;
    top: -80px;
    transform: translate3d(-80px, 80px, 0) rotate(-45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Emphatic Reverse
   */

.hamburger--emphatic-r {
    overflow: hidden;
}

.hamburger--emphatic-r .hamburgerInner {
    transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburgerInner::before {
    left: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburgerInner::after {
    top: 10px;
    right: 0;
    transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.isActive .hamburgerInner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent !important;
}

.hamburger--emphatic-r.isActive .hamburgerInner::before {
    left: -80px;
    top: 80px;
    transform: translate3d(80px, -80px, 0) rotate(-45deg);
    transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.isActive .hamburgerInner::after {
    right: -80px;
    top: 80px;
    transform: translate3d(-80px, -80px, 0) rotate(45deg);
    transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Minus
   */

.hamburger--minus .hamburgerInner::before, .hamburger--minus .hamburgerInner::after {
    transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.isActive .hamburgerInner::before, .hamburger--minus.isActive .hamburgerInner::after {
    opacity: 0;
    transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.isActive .hamburgerInner::before {
    top: 0;
}

.hamburger--minus.isActive .hamburgerInner::after {
    bottom: 0;
}

/*
   * Slider
   */

.hamburger--slider .hamburgerInner {
    top: 2px;
}

.hamburger--slider .hamburgerInner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider .hamburgerInner::after {
    top: 20px;
}

.hamburger--slider.isActive .hamburgerInner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.isActive .hamburgerInner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider.isActive .hamburgerInner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
   * Slider Reverse
   */

.hamburger--slider-r .hamburgerInner {
    top: 2px;
}

.hamburger--slider-r .hamburgerInner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider-r .hamburgerInner::after {
    top: 20px;
}

.hamburger--slider-r.isActive .hamburgerInner {
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.isActive .hamburgerInner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider-r.isActive .hamburgerInner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
   * Spin
   */

.hamburger--spin .hamburgerInner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburgerInner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburgerInner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.isActive .hamburgerInner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.isActive .hamburgerInner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */

.hamburger--spin-r .hamburgerInner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburgerInner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburgerInner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.isActive .hamburgerInner {
    transform: rotate(-225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.isActive .hamburgerInner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spring
   */

.hamburger--spring .hamburgerInner {
    top: 2px;
    transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburgerInner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburgerInner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.isActive .hamburgerInner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}

.hamburger--spring.isActive .hamburgerInner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.isActive .hamburgerInner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */

.hamburger--spring-r .hamburgerInner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburgerInner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburgerInner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.isActive .hamburgerInner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.isActive .hamburgerInner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.isActive .hamburgerInner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand
   */

.hamburger--stand .hamburgerInner {
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburgerInner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburgerInner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.isActive .hamburgerInner {
    transform: rotate(90deg);
    background-color: transparent !important;
    transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.isActive .hamburgerInner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand Reverse
   */

.hamburger--stand-r .hamburgerInner {
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand-r .hamburgerInner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburgerInner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.isActive .hamburgerInner {
    transform: rotate(-90deg);
    background-color: transparent !important;
    transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand-r.isActive .hamburgerInner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */

.hamburgerSqueeze .hamburgerInner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerSqueeze .hamburgerInner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburgerSqueeze .hamburgerInner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerSqueeze.isActive .hamburgerInner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburgerSqueeze.isActive .hamburgerInner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburgerSqueeze.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Vortex
   */

.hamburger--vortex .hamburgerInner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburgerInner::before, .hamburger--vortex .hamburgerInner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
}

.hamburger--vortex .hamburgerInner::before {
    transition-property: top, opacity;
}

.hamburger--vortex .hamburgerInner::after {
    transition-property: bottom, transform;
}

.hamburger--vortex.isActive .hamburgerInner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.isActive .hamburgerInner::before, .hamburger--vortex.isActive .hamburgerInner::after {
    transition-delay: 0s;
}

.hamburger--vortex.isActive .hamburgerInner::before {
    top: 0;
    opacity: 0;
}

.hamburger--vortex.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(90deg);
}

/*
   * Vortex Reverse
   */

.hamburger--vortex-r .hamburgerInner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburgerInner::before, .hamburger--vortex-r .hamburgerInner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
}

.hamburger--vortex-r .hamburgerInner::before {
    transition-property: top, opacity;
}

.hamburger--vortex-r .hamburgerInner::after {
    transition-property: bottom, transform;
}

.hamburger--vortex-r.isActive .hamburgerInner {
    transform: rotate(-765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.isActive .hamburgerInner::before, .hamburger--vortex-r.isActive .hamburgerInner::after {
    transition-delay: 0s;
}

.hamburger--vortex-r.isActive .hamburgerInner::before {
    top: 0;
    opacity: 0;
}

.hamburger--vortex-r.isActive .hamburgerInner::after {
    bottom: 0;
    transform: rotate(-90deg);
}