.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 0deg, rgba(37, 40, 51, 0.8), rgba(37, 40, 51, 0.8)), url('/images/profile.jpeg');
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-start;
  /* height: 100vh; */
  /* border: 1px solid blueviolet; */
}

/* .circlePortrait {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.circlePortrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .headerHomeImage {
  width: 8rem;
  height: 8rem;
} */

.imgName {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 10rem; */
  /* border: 1px solid yellowgreen; */
}

.headerImage {
  max-width: 20rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-left: 2rem;
}

.introText {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1.3px;
  align-items: center;
  padding-top: 2rem;
}

/* .imgName img h1 {
  margin: 0 2rem;
} */

/* .header {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .header a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  line-height: 1.15;
  font-size: 2rem;
} */

/* 
.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
} */

/* .footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .footer img {
  margin-left: 0.5rem;
} */

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title, .description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 800px) {
  .imgName {
    flex-direction: column;
    align-items: center;
  }
  /* .imgName div {
    border: 1px solid red;
  } */
  .headerImage {
    max-width: 13rem;
  }
  .textContainer {
    margin-left: 0;
  }
  .textContainer {
    /* font-weight: 300; */
    font-size: 16px;
  }
  .introText {
    line-height: 20px;
    letter-spacing: 1px;
  }
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}