.resumeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    /* padding: 0 0 2rem 0; */
}

.headerImage {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.sectionHeader {
    margin: 0 0 0 0;
    /* color: red; */
}

.basicInfo {
    /* border: 1px solid aliceblue; */
    /* justify-content: space-around; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* color: #808080;*/
    color: rgb(97, 97, 99);
    color: #323440
    /* text-align: right; */
}

.profile {
    padding: 0 0 3rem 0;
    max-width: 950px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1px;
}

.timelineWrapper {
    /* border: 1px solid aliceblue; */
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 2rem 0;
}

.paper {}