.resumeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
}

.resume {
    display: flex;
    /* flex-direction: row; */
}

.sideBar {
    margin-left: 1rem;
}

.imageWrapper {
    margin: 0 2rem 0 2rem;
    /* max-height: 15rem; */
}

.headerImage {
    /* min-width: 1rem; */
    /* min-height: 1rem; */
    /* max-width: 20rem; */
    /* max-height: 20rem; */
    max-width: 15rem;
    max-height: 15rem;
    /* object-fit: cover; */
}

.sectionHeader {
    margin: 0 0 0 0;
    /* color: red; */
}

.topInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    /* border: 1px solid green; */
}

.basicInfo {
    /* border: 1px solid aliceblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-self: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
    line-height: 30px;
    /* color: #808080;*/
    /* color: rgb(97, 97, 99);
    color: #323440 */
    /* text-align: right; */
    /* border: 1px solid red; */
}

.download {
    /* margin-top: 3rem; */
    padding: 0 1rem 0 1rem;
    font-weight: 500;
    /* border: 1px solid yellow; */
}

.upperResume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.profile {
    padding: 0 1rem 0 0;
    /* margin: 0 2rem 0 0; */
    max-width: 830px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1px;
}

.sideBarContainer {
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.lowerResume {}

.timelineWrapper {
    /* border: 1px solid aliceblue; */
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 2rem 0;
}

@media screen and (max-width: 800px) {
    .resumeWrapper {
        /* margin-left: 2rem; */
        /* margin-right: 2rem; */
        /* padding: 0 3rem; */
        /* border: 1px solid red; */
    }
    .topInfo {
        flex-direction: column;
        margin-bottom: 0;
    }
    .basicInfo {
        justify-self: center;
        align-items: center;
        font-size: 14px;
        text-align: center;
    }
    .name {
        text-align: center;
        margin-bottom: .5rem;
    }
    .download {
        margin-top: 0.5rem;
    }
    .imageWrapper {
        /* display: flex; */
        /* justify-content: center; */
        /* max-height: 10rem; */
        /* padding: 0; */
    }
    .headerImage {
        /* max-height: 12rem; */
        max-width: 12rem;
    }
    .upperResume {
        flex-direction: column;
        margin: 0 1rem;
        padding-bottom: 1rem;
    }
    .lowerResume {
        margin: 0 1rem;
    }
    .profile {
        margin-right: 0;
        margin-bottom: 1rem;
        padding-right: 1rem;
    }
    .sideBar {
        display: flex;
        justify-content: space-around;
    }
    .sideBarContainer {
        /* font-weight: 400; */
        line-height: 30px;
        /* letter-spacing: 3px; */
        /* margin-bottom: 2rem; */
    }
}