.heading2XL {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXL {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.headingSm {
    margin: 0;
}

.forIconText {
    display: flex;
    align-items: center;
}

.borderCircleParent {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.borderCircle {
    /* border-radius: 9999px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact {
    line-height: 35px;
    letter-spacing: 1.5px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    /* color: #999 */
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}